[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
grequests = "*"
beautifulsoup4 = "*"
spacy = "*"
flask-cors = "*"
leia-br = "*"
requests = "*"
python-dotenv = "*"
flask = "*"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.11"
